body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.pfont{
    font-family: 'Merriweather', serif;
    font-size: 30px;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 50px;
}
.top-section{
    display: flex;
    background-image: url(images/Frame57.jpg);
    background-repeat: no-repeat;
}
.haf-width{
    width: 50%;
    margin: 5%;
}
.haf-width img{
    width: 100%;
}
#title-color{
    color: orangered;
}
.link-button{
    text-decoration: none;
    color: white;
    font-size: 2em;
    background-color:red;
    border-radius: 10px;
    padding: 15px 20px;
}
.center-section{
    display: flex;
    background-image: url(images/Frame58.jpg);
    background-repeat: no-repeat;
}
#recipies{
    text-align: center;
    padding: 20px 20%;
}
.sectionbox{
    display: flex;
    padding:40px 20px;
}
.boxall{
    width: 350px;
    background: white;
    padding: 15px auto;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 20px 20px 30px gray;
}
.boxall img{
    padding-left: 10px;
    padding-top: 10px;
    width: 90%;
    border-radius:10px;
}
.sboxtitle{
    padding-left: 10px;
}
.sboxp{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    text-align: justify;
}
.boxall2{
    width:1600px;
    background: white;
    text-align: center;
    margin:0 auto;
    border-radius: 10px;
    box-shadow: 20px 20px 30px gray;
}
footer{
    padding-top: 30px;
    padding-bottom: 25px;
    text-align: center;
    background-color: black;
    color: white;
}
#footer-title{
    color: orange;
}
#footer-title2{
    color: slategrey;
}
footer p{
    color: lightslategrey;
}